.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;

    &.scrolled{
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
    }
}



.wrapper {
    padding: 10px 50px;
    display: flex;
    height: 100%;
    justify-content: space-between;

    .item{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .5px;
        cursor: pointer;
    }

    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 18px;

    }
    .center{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 18px;
        
        .icon {
            margin-left: 5px;
            font-size: 15px;
        }

    }
}