.products {
    display: flex;
    padding: 110px 50px 0;
    gap: 20px;
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .filterItem {


            h2{
                margin-bottom: 10px;
                font-size: 19px;
                font-weight: 600;
                letter-spacing: .5px;
                text-transform: uppercase;
            }

            .inputItem {
                font-size: 15px;
                font-weight: 400;
                letter-spacing: .5px;
                input{
                    margin-right: 5px;                   
                }
        
            }

            .filterPrice{
                display: flex;

                input{
                    width: 80%;
                    margin: 0 5px;
                }
               span{
                font-size: 15px;
                font-weight: 400;
               }
            }
        }
    }

    .right {
         flex: 7;
         
    }
}